.contactItem {
    list-style: none;
    border: 2px solid black;
    border-radius: 7px;

    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
}

.nameContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.phoneContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    width: auto;
    height: 40px;
}

p {
    margin: 10px 0px;
}